
html {
    color: $text-color;
    font-size: 1rem;
    font-family: 'Poppins', Arial, sans-serif;
}
body {
    margin: 0;
}
main {

}
.container {
    max-width: 78.125rem;
    margin: 0 auto;
}

//moved wp admin bar to the bottom, to not obstruct top notification bar
#wpadminbar {
    top: unset;
    bottom: 0;
}